@use '@/styles/variables' as *;
@use '@/styles/breakpoints' as *;

.dashboard-layout {
	display: flex;
	min-height: 100vh;
	width: 100%;
	background-color: #ffffff;

	&__main {
		flex: 1;
		display: flex;
		flex-direction: column;
		overflow: hidden;
	}

	&__content {
		flex: 1;
		padding: $spacing-md;
		overflow-y: auto;

		@include desktop {
			padding: $spacing-lg;
		}
	}
}
