.dashboard-layout {
	display: flex;
	min-height: 100vh;
	width: 100%;
	background-color: #f8f9fa;

	&__main {
		flex: 1;
		display: flex;
		flex-direction: column;
		overflow: hidden;
	}

	&__content {
		flex: 1;
		padding: 1.5rem;
		overflow-y: auto;
	}
}
