@use '@/styles/variables' as *;
@use '@/styles/breakpoints' as *;

.dashboard {
	display: flex;
	flex-direction: column;
	gap: $spacing-lg;

	@include desktop {
		flex-direction: row;
	}

	&__main {
		flex: 2;
		display: flex;
		flex-direction: column;
		gap: $spacing-xl;
		min-width: 0; // Prevent flex item from overflowing
	}

	&__sidebar {
		display: flex;
		flex-direction: column;
		gap: $spacing-lg;
		width: 100%;
		flex: 1;

		@include desktop {
			width: 320px;
			flex-shrink: 0;
		}
	}
}
