@use './styles/reset';

:root {
	font-family:
		'Kumbh Sans',
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		'Open Sans',
		'Helvetica Neue',
		sans-serif;
	line-height: 1.5;
	font-weight: 400;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
	height: 100%;
	width: 100%;
}

a {
	color: inherit;
	text-decoration: none;
}

button {
	cursor: pointer;
	font-family: inherit;
}

input,
textarea,
select {
	font-family: inherit;
}
