@use './styles/reset';
@use './styles/variables' as *;

:root {
	font-family: $font-family;
	line-height: $line-height-normal;
	font-weight: $font-weight-regular;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
	height: 100%;
	width: 100%;
}

body {
	color: $text-primary;
	background-color: $bg-white;
}

a {
	color: inherit;
	text-decoration: none;
}

button {
	cursor: pointer;
	font-family: inherit;
}

input,
textarea,
select {
	font-family: inherit;
}
