.auth-layout {
  display: flex;
  min-height: 100vh;
  width: 100%;

  &__form-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
  }

  &__image-section {
    flex: 1;
    background-color: #f5f5f5;
    display: none;

    @media (min-width: 1024px) {
      display: block;
    }
  }
}

