@use '@/styles/variables' as *;
@use '@/styles/breakpoints' as *;
@use '@/styles/animations' as *;

.wallet {
	background-color: $bg-white;
	@include desktop {
		border: 1px solid $border-color;
		border-radius: $radius-xl;
		padding: $spacing-lg;
	}

	&__title {
		color: $text-primary;
	}

	&__menu-btn {
		color: $text-secondary !important;

		&:hover {
			background-color: $bg-light !important;
		}
	}

	&__cards {
		position: relative;
		height: 260px;
		perspective: 1000px;
	}

	// Loading skeletons with shimmer effect
	&__card-skeleton {
		position: absolute;
		width: 100%;
		height: 180px;
		border-radius: $radius-lg;
		@include shimmer;

		&--back {
			top: 0;
			transform: translateY(10px) scale(0.95);
			opacity: 0.7;
		}

		&--front {
			top: 80px;
			z-index: 1;
		}
	}
}
